/* JSON Editor */
.jsonEditor * {
  vertical-align: top;
}
.jsonEditor > .jsonObject > .jsonChildren {
  margin-left: 0;
  border-left: 0;
  padding: 0;
}
.jsonChildren {
  margin-left: 20px;
  display: none;
  font-weight: normal;
  border-left: 1px dotted #ddd;
}
.jsonFlex .jsonChildren {
  margin-left: -20px;
}
.jsonCompound.open > .jsonChildren {
  display: block;
}
.jsonAdd {
  margin-left: 5px;
}
.jsonFlex .jsonField {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}
.jsonFieldAdder {
  margin-left: 13px;
}
.jsonFieldAdder select {
  margin-left: 5px;
}
.compoundToggle:before {
  content: '▸';
  color: #333;
  line-height: 1em;
  margin-right: 3px;
}
.open > .compoundToggle:before {
  content: '▾';
}
.jsonName {
  font-style: italic;
  position: relative;
  padding-left: 15px;
  white-space: nowrap;
  min-width: 80px;
}
.jsonValue {
  position: relative;
  padding-left: 15px;
  flex-grow: 1;
}
.jsonValue > input,
.jsonValue > textarea,
.jsonValue > select {
  margin-bottom: 5px;
}
.jsonFlex input[type=text],
.jsonFlex input[type=number],
.jsonFlex input[type=password],
.jsonFlex textarea {
  width: 100%;
}
.jsonRemove,
.jsonFixed {
  visibility: hidden;
  margin-right: 5px;
  text-decoration: none;
  width: .6em;
  display: inline-block;
  position: absolute;
  left: 0;
}
.jsonName:hover > .jsonRemove {
  visibility: visible;
}
.jsonReset {
  visibility: hidden;
  padding-left: 0px;
  text-decoration: none;
  width: .6em;
  display: inline-block;
  position: absolute;
  left: 0;
}
.jsonValue:hover > .jsonReset {
  visibility: visible;
}
.compoundToggle,
.jsonString {
  cursor: pointer;
}
.booleanField * {
  vertical-align: middle;
}
.booleanField input {
  margin-bottom: 0;
}
.jsonError > .jsonName,
.jsonError .jsonErrorMsg {
  color: #f36;
}
.jsonError .jsonErrorMsg {
  margin: 0 0 10px 10px;
  font-size: 0.9em;
  vertical-align: bottom;
  display: block;
}
.jsonError > .jsonValue > input,
.jsonError > .jsonValue > select,
.jsonError > .jsonValue > textarea {
  background-color: #fff8f8;
}
.jsonNovalue {
  color: #999;
  font-style: italic;
}
.jsonGroup {
  margin-bottom: 10px;
}
.bindingEditor .jsonEditor {
  display: inline-block;
}
.backface-visibility-hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.tile {
  color: white;
  padding: 15px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.flipper-container {
  float: left;
  width: 250px;
  height: 250px;
  margin-right: 15px;
  display: block;
  perspective: 1000px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -ms-perspective: 1000px;
}
.flipper-container span {
  color: white;
}
.flipper-container > div.flipper {
  float: left;
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
}
.flipper-container > div.flipper .front,
.flipper-container > div.flipper .back {
  float: left;
  display: block;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform ease 500ms;
  -moz-transition: -webkit-transform ease 500ms;
  -ms-transition: -webkit-transform ease 500ms;
  -o-transition: -webkit-transform ease 500ms;
  transition: -webkit-transform ease 500ms;
  -webkit-transition: transform ease 500ms;
  -moz-transition: transform ease 500ms;
  -ms-transition: transform ease 500ms;
  -o-transition: transform ease 500ms;
  transition: transform ease 500ms;
}
.flipper-container > div.flipper .front {
  z-index: 2;
  background: #19489E;
  /* front tile styles go here! */
}
.flipper-container > div.flipper .back {
  background: #9E1919;
  /* back tile styles go here! */
}
.flipper-container.horizontal .front {
  transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
}
.flipper-container.horizontal .back {
  transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
}
.flipper-container.horizontal div.flipper.flipped .front {
  transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}
.flipper-container.horizontal div.flipper.flipped .back {
  transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
}
.flipper-container.vertical .front {
  transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
}
.flipper-container.vertical .back {
  transform: rotateX(-180deg);
  -ms-transform: rotateX(-180deg);
  -webkit-transform: rotateX(-180deg);
  -o-transform: rotateX(-180deg);
  -moz-transform: rotateX(-180deg);
}
.flipper-container.vertical div.flipper.flipped .front {
  transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
}
.flipper-container.vertical div.flipper.flipped .back {
  transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
}
.cWorkplace {
  border: solid 0px blue;
}
.con {
  min-height: 20px;
  min-width: 20px;
  border: solid 1px gray;
  resize: none;
  overflow: visible;
}
.con.selected {
  border-width: 3px;
  border-color: red;
}
.con.parentSelected {
  border-width: 3px;
  border-color: deeppink;
}
.con.root {
  background-image: url("grid.png");
  background-repeat: repeat;
  min-height: 100vh;
}
.box {
  position: absolute;
  border: 1px dashed gray;
  padding: 0.5rem;
}
.box.selected {
  border-width: 3px;
  border-color: red;
}
.cBox {
  position: absolute;
}
.resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pg08IS0tIEdlbmVyYXRvcjogQWRvYmUgRmlyZXdvcmtzIENTNiwgRXhwb3J0IFNWRyBFeHRlbnNpb24gYnkgQWFyb24gQmVhbGwgKGh0dHA6Ly9maXJld29ya3MuYWJlYWxsLmNvbSkgLiBWZXJzaW9uOiAwLjYuMSAgLS0+DTwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DTxzdmcgaWQ9IlVudGl0bGVkLVBhZ2UlMjAxIiB2aWV3Qm94PSIwIDAgNiA2IiBzdHlsZT0iYmFja2dyb3VuZC1jb2xvcjojZmZmZmZmMDAiIHZlcnNpb249IjEuMSINCXhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiDQl4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjZweCIgaGVpZ2h0PSI2cHgiDT4NCTxnIG9wYWNpdHk9IjAuMzAyIj4NCQk8cGF0aCBkPSJNIDYgNiBMIDAgNiBMIDAgNC4yIEwgNCA0LjIgTCA0LjIgNC4yIEwgNC4yIDAgTCA2IDAgTCA2IDYgTCA2IDYgWiIgZmlsbD0iIzAwMDAwMCIvPg0JPC9nPg08L3N2Zz4=');
  background-position: bottom right;
  padding: 0 3px 3px 0;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: se-resize;
}
/* the tree node's style */
.tree-view {
  overflow-y: hidden;
}
/* style for the container */
.tree-view_children {
  margin-left: 16px;
  border-left: 1px solid gold;
}
.tree-view_children-collapsed {
  display: none;
}
.tree-view_arrow {
  cursor: pointer;
  margin-right: 6px;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 20px;
}
/* rotate the triangle to close it */
.tree-view_arrow-collapsed {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.node {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 3px;
  margin: 2px;
  vertical-align: middle;
}
.node.selected {
  background-color: #e8efff;
  box-shadow: 0 0 2px #0a6aa1;
}
.node:hover {
  background-color: #dcf5f3;
  cursor: pointer;
}
.info,
.node {
  padding: 2px 10px 2px 5px;
  font: 14px Helvetica, Arial, sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tree-view_arrow {
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
.tree-view_arrow-empty {
  color: yellow;
}
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ol:not([start]) {
  counter-reset: item;
}
ol > li {
  display: table;
  counter-increment: item;
  margin-bottom: 0.6em;
}
ol > li:before {
  content: counters(item, ".") ". ";
  display: table-cell;
  padding-right: 0.6em;
}
li ol > li {
  margin: 0;
}
li ol > li:before {
  content: counters(item, ".") " ";
}
.Resizer {
  background: #000;
  opacity: .2;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}
.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}
.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}
.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
  height: 100%;
}
.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}
